<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="template/template.css">
</head>
<body>
    <div class="header-placeholder" style="height: 50px;"></div>
    <div class="main-container">
        <nav class="navbar">
            <ul class="nav-list">
                <div class="nav-left">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="user.html">个人中心</a></li>
                    <li><a href="video.html">视频播放</a></li>
                    <li><a href="forum.html">社区论坛</a></li>
                    <!-- <li><a href="#">注册</a></li> -->
                </div>
                <div class="nav-right">
                    <li><a href="login.html">登录</a></li>
                    <li><a href="register.html">注册</a></li>
                    <li><a href="#">下载</a></li>
                    <li><a href="#">关于</a></li>
                    <li><a href="#">联系</a></li>
                </div>  
            </ul>
        </nav>
         
        <div class="header">
            <div class="header-left">
                <div class="main-title">
                    <div class="title">Neuroblue</div><span class="title-b">·star</span>
                </div>
                <div class="sub-title">
                    <a href="index.html">黑是光的容器，白是影的独白</a>
                </div>
                <!-- <div class="sub-title">
                    <a href="user.html">个人中心</a>
                </div>
                <div class="sub-title">
                    <a href="video.html">视频播放</a>
                </div> -->
            </div>
           
            <div class="right-logo sub-title">
                <!-- <img src="images/1.svg" alt="Logo" class="logo-img">
                <img src="images/5.svg" alt="Logo" class="logo-img">
                <img src="images/3.svg" alt="Logo" class="logo-img">
                <img src="images/4.svg" alt="Logo" class="logo-img"> -->
                沉默是声音的剪影，喧嚣是寂静的镜像
            </div>
        </div>

        <footer class="footer">
            <div class="footer-content">
                <div class="right">
                    Copyright © 2025 开课吧. All rights reserved.
                </div>
                <a href="#top" class="back-to-top">↑</a>    
            </div>
        </footer>
    </div>
</body>
</html>
